.dh-input {
  height: 36px;
  padding: 0 18px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #41424F;
  font-family: 'Source Sans Pro Regular';
  font-size: 16px;
  letter-spacing: 0.22px;
  line-height: 18px;

  &:hover, &:focus, &:active {
    border-color: #999999;
  }

  &:focus {
    outline: none;
  }

  &.error {
    border-color: #E26E94;
  }
}

.dh-textarea {
  padding: 8px 18px;
  align-self: stretch;
  resize: vertical !important;
}
