.dh-checkbox {

  input {
    display: none;

    &:checked + label:after {
      font-family: 'FontAwesome';
      content: "\f00c";
      opacity: 1;
    }
  }

  label {
    position: relative;
    display: block;
    font-weight: normal;
    cursor: pointer;
    padding-left: 22px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    color: #666666;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background: #ffffff;
      border: 1px solid #cccccc;
    }

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      display: block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      color: #39c2d7;
      text-align: center;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-in;
      -moz-transition: opacity 0.3s ease-in;
      -o-transition: opacity 0.3s ease-in;
      transition: opacity 0.3s ease-in;
    }
  }
}

