$rowHeight: 36px;
$borderColor: rgb(209, 212, 221);

:export {
  rowHeight: $rowHeight;
}

.table-with-details {
  position: relative;
  box-sizing: border-box;

  .table {
    position: relative;
    box-sizing: inherit;
    z-index: 10;
    font-family: 'Source Sans Pro Regular';
    border: 1px solid $borderColor;
    border-radius: 6px;

    .row {
      display: flex;
      min-height: $rowHeight;
      box-sizing: inherit;
      align-items: center;
      justify-content: flex-start;

      &.header {
        border-bottom: 1px solid $borderColor;
        .cell {
          font-size: 14px;
          color: #868996;
        }
      }

      &.odd {
        background-color: #f5f5f5;
      }

      &.selected {
        background-color: rgb(201, 203, 209);
      }

      &.hoverable-row {
        cursor: pointer;
        &:hover {
          background-color: #39C2D7;
          > div {
            color: white;
          }
        }
      }

      .cell {
        padding: 6px 10px;
        font-size: 16px;
        color: #525462;
        word-break: break-word;
      }
    }
  }

  .details {
    display: none;
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: inherit;

    .details-container {
      z-index: 100;
      overflow-y : auto;
      background: white;
      border: 1px solid $borderColor;
      border-radius: 6px;

      .details-container-header {
        position: sticky;
        display: flex;
        padding: 0 20px;
        top: 0;
        z-index: 1;
        height: $rowHeight;
        background: white;

        .close-button {
          margin-left: auto;
        }
      }

      .details-container-body {
        padding: 20px;
      }
    }

  }

  .w0 {
    flex: 0 auto;
  }

  .w1 {
    flex: 1;
  }

  .w2 {
    flex: 2;
  }

  .w3 {
    flex: 3;
  }

  .w4 {
    flex: 4;
  }

  .w5 {
    flex: 5;
  }
  .w6 {
    flex: 6;
  }
}


