@import 'variables';
@import 'fonts';
@import 'colors';

body, ul, p {
  margin: 0;
}

body {
  position: relative;
}

.transparent-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
