$white: white;
$black: #333333;
$blue: #39C2D7;
$dark-blue: #1A9CB0;
$raspberry: #B22746;
$red: #CB2323;
$lime-green: #A3C644;
$dark-green: #7F993A;
$light-gray: #CCCCCC;
$gray: #999999;
$medium-gray: #666666;
$dark-gray: #464547;
$orange: #FF9B19;

$body-bg: rgb(242, 246, 247);

$modal-overlay: #2C2F3C;
